<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">
 
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="container">
    <div class="block">

        <figure class="image is-128x128" style="margin: 100px;">
            <img src="https://image.flaticon.com/icons/svg/180/180645.svg" class="is-rounded">
          </figure>  

        <div class="card">
          <div class="card-header">
            <div class="card-header-title">About Us</div>
            <div class="card-content">This is a simple word counter website. Paste your text here and anlayse how often a word appears in your text.</div>
          </div>
        </div>

    </div>
  </div>
</body>
</html>